body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00173d 0%, #60737b 100%);
}
.form-container {
    background: linear-gradient(135deg, #ebecef 0%, #d5d9db 100%);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 550px ;
    text-align: center;
}
.form-description {
    font-size: 14px;
    color: #444;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}
.italic-label {
    font-style: italic;
    font-weight: 500;
}
.required {
    color: red;
}
input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}
input:focus {
    border-color: #35b706;
    outline: none;
}
button {
    width: 100%;
    padding: 12px;
    background: #35b706;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #35b706a0;
}